@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");
/* --------- Global --------- */
:root {
  --text-color: #555555;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
}

/*  --------- Header --------- */

header {
  height: 7rem;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
nav {
  width: 4.3rem;
  height: 4.3rem;
  border-radius: 50%;
  background-color: #5b5b5b;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 30px;
}
nav div {
  width: 30px;
  height: 2px;
  background-color: #fff;
  margin: 2px 0;
}
/* -------- containers ---------- */
.sec1-container,
.sec2-container,
.sec3-container,
.sec4-container,
.footer-container {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

/* --------- Section 1 Landing Page --------- */

.sec-1 {
  height: 590px;
}
.sec1-container {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.land-img {
  width: 24rem;
  height: 24rem;
  background: url(images/land_img.jpg);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 50%;
}

.land-content {
  word-wrap: break-word;
  width: 50%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.land-content h1 {
  font-weight: 300;
  font-size: 5rem;
}
.land-content p {
  font-weight: 300;
  font-size: 1.7rem;
  line-height: 1.7;
}
button {
  text-transform: uppercase;
  padding: 1.2em 2.5em;
  background: transparent;
  border: 2px solid var(--text-color);
  border-radius: 25px;
  letter-spacing: 2px;
  cursor: pointer;
  color: var(--text-color);
}

@media (max-width: 600px) {
  html {
    font-size: 10px;
  }
  .sec1-container {
    flex-direction: column;
  }
  .land-content {
    width: 100%;
    height: 70%;
    text-align: center;
    align-items: stretch;
    justify-content: space-evenly;
  }
  .land-img {
    height: 120%;
    width: 18rem;
    height: 18rem;
  }
}

/* --------- Section 2 ---------*/

.sec-2 {
  background-color: #f7f7f7;
  height: 800px;
}

.sec2-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
h2 {
  font-weight: 300;
  font-size: 3rem;
}
.sec-span {
  height: 1px;
  width: 90px;
  background-color: var(--text-color);
}

.sec2-container p {
  text-align: center;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 1.7;
}
.sec2-container .p2 {
  line-height: 1.1;
}
.cir-container {
  width: 100%;
}
.conn-cir-container {
  width: 95%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.conn-cir-container span {
  width: 8.75rem;
  height: 8.75rem;
  font-size: 3.125rem;
  border: 2px solid var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: relative;
}

.conn-cir-container span::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -55%;
  width: 54%;
  height: 2px;
  background: var(--text-color);
  z-index: 1;
}

.conn-cir-container span:first-child::before {
  display: none;
}
@media (max-width: 600px) {
  .conn-cir-container span::before {
    display: none;
  }
  .conn-cir-container {
    width: 85%;
    margin: 0 auto;
    justify-content: center;
  }
  .conn-cir-container span {
    margin: 1rem 1rem;
  }
}
/*-------- Section 3 --------*/

.sec-3 {
  height: 1900px;
}

.sec3-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.sec3-container p {
  text-align: center;
  font-weight: 300;
  font-size: 1.3rem;
  line-height: 1.7;
}
.sec3-container article p {
  text-align: left;
}
h3 {
  font-weight: 300;
  font-size: 2rem;
}
.internal-sec {
  height: 400px;
  display: flex;
  justify-content: space-between;
}
.internal-sec article {
  height: 100%;
  width: 48%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}
.art-span {
  height: 1px;
  width: 60px;
  background-color: var(--text-color);
}
.img-1 {
  background: url(images/img_1.jpg);
}
.img-2 {
  background: url(images/img_2.jpg);
}
.img-3 {
  background: url(images/img_3.jpg);
}

.sec3-container .img {
  width: 48%;
  height: auto;
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 20px;
}

@media (max-width: 600px) {
  .internal-sec {
    display: flex;
    flex-direction: column;
    min-height: 600px;
  }
  .internal-sec article {
    text-align: center;
    align-items: center;
    width: 100%;
    height: 50%;
  }
  .internal-sec article button {
    width: 100%;
  }
  .sec3-container > button {
    width: 100%;
  }
  .sec3-container article p {
    text-align: center;
  }
  .sec3-container .img {
    height: 50%;
    width: 100%;
    order: -1;
  }
  .sec-3 {
    height: 2300px;
  }
  /* .sec3-container .end-p ::before{
   content :"";
   background-color :#555555;
   width :100%;
   height :2px;
  } */
}

/* ------ section 4 -------- */

.sec-4 {
  height: 600px;
  background: url(images/back_img.jpg);
  background-size: cover;
}
.sec4-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: #fff;
}
.sec4-container p {
  text-align: center;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 1.7;
}

.sec4-container button {
  color: #fff;
  border-color: #fff;
}
.sec4-container .sec-span {
  background-color: #fff;
}

/* -------- Footer section -------- */
footer {
  height: 600px;
  background-color: #f7f7f7;
}

.footer-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.main-footer {
  display: flex;
  justify-content: space-between;
  height: 400px;
}
.main-footer article {
  width: 47%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.main-footer article p {
  text-align: center;
  font-weight: 300;
  font-size: 1.3rem;
  line-height: 1.7;
  text-align: left;
}
.contact-container {
  display: flex;
  width: 50%;
}
.contact-cir {
  width: 50px;
  height: 50px;
  border: 2px solid var(--text-color);
  font-size: 1.438rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 0 8.5px;
}

form {
  width: 47%;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: space-evenly;
  align-items: flex-start;
}
.input-con {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

input[type="text"],
input[type="email"],
textarea {
  padding: 18px 24px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
}

input[type="text"],
input[type="email"] {
  width: 47%;
}

.footer-container > p {
  color: #dcdcdc;
}
.footer-container > span {
  background-color: #dcdcdc;
}
